@font-face {
     font-family: 'LeageMono';
     src: url('fonts/LeagueMono-Medium.eot');
     src: url('fonts/LeagueMono-Medium.woff') format('woff'), url('fonts/LeagueMono-Medium.ttf') format('truetype'), url('fonts/LeagueMono-Medium.svg') format('svg');
     font-style: normal;
     font-weight: 900;
}
 html,body {
     font-family: 'LeageMono';
     font-weight: bold;
     background-color: white;
     color:#424242;
     padding:0px;
     margin:0px;
     height:100%;
     width: 100vw;
}
 a, a:visited, a:hover {
     color:#0663A6;
}
 .nav {
     width: 700px;
     margin: auto;
     padding-top: 15px;
}
 .nav.landing{
     padding-top: 20%;
}
 .nav a, .nav a:visited {
     color: #4C4C4C;
     text-decoration: none;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     width: 18%;
     padding-bottom: 10px;
}
 .nav a:hover, .nav a.selected {
     border-bottom:2px solid #4C4C4C;
}
 .nav a.blue, .nav a.blue:hover, .nav a.blue.selected:hover {
     border-bottom-color:#0663A6;
}
 .nav a.green, .nav a.green:hover, .nav a.green.selected:hover {
     border-bottom-color:#1FA541;
}
 .nav a.red, .nav a.red:hover, .nav a.red.selected:hover {
     border-bottom-color:#BF242D;
}
 .nav a span {
     font-size:2em;
}
 .nav .logospan {
     display: inline-block;
     width: 18%;
     padding-bottom: 10px;
     letter-spacing: -12px;
     font-size: 3em;
     vertical-align: top;
     cursor:pointer 
}
 .content {
     width:900px;
     background-color: white;
     margin:auto;
     margin-top:50px;
     padding:0 2.5%;
     line-height: 1.5em;
}
 .content .underline{
     border-bottom:1px solid #8E8E8E 
}
 .blog_summary {
     cursor: pointer;
     margin-bottom:3em;
     border-bottom: 0.5px dashed #ccc;
}
 .blog_summary:first-of-type {
     margin-top:1em;
}
 .blog_summary:hover {
     opacity: 0.55;
}
 .blog_summary .title {
     font-size: 1.2em;
     margin-top:-0.5em;
}
 .blog_summary .date {
     font-size: 0.7em;
}
 .blog_summary .blurb {
     margin:0.5em 0px;
}
 .blogtitle {
     font-size: 1.2em;
     font-weight:bold;
}
 table.blog_table {
     width: 100%;
}
 table.blog_table th {
     vertical-align: bottom;
     border-bottom: 1px solid #ccc;
}
 table.blog_table td {
     text-align: center;
}
.mobileshow {
     display: none;
}
 