@font-face {
    font-family: Brandon;
    src: url("Brandon_reg.otf") format("opentype");
}
html,body{
font-family: Brandon;
font-size:18px;
width:100%;
height:100%;
margin:0px;
padding:0px;
color:white;    
background-color:black;
z-index:1;  
}

.container{
  
  height:100%;
  position:relative;
}

.content-box{
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index:10;
}
.content-header{
    flex: 0 1 165px;
    text-align: right;
}
.content-main{
    flex: 1 1 auto;
    position: relative;
    width: 100%;
}
.content-main.center{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}
.content-main.padded{
    padding: 0px 30px;
}
.content-footer{
  position:fixed;
  bottom:0px;
  height:70px;
  width:100%;
  background-color: black;
    /*flex: 0 1 70px;*/
    text-align: center;
    line-height: 70px;
    font-size: 0px;
}
.content-header img
{
    cursor: pointer;
    float:left;height:125px;margin:20px
}
.content-header a{
    text-decoration: none;
    display: inline-block;
    margin-right:50px;
    line-height: 165px;
    color:white;
}
.content-main .main-img
{
  width:300px;
  position: relative;
  align-self: center;
  z-index:2;
  top:-40px;
}

.content-main .background-mask{
    height:100%;
    width:100%;
    position: absolute;
    top:0px;
    z-index: 1;

}
a.btn{
    display: inline-block;
    padding: 5px 10px;
    color:white;
    text-decoration: none;
    border:1px solid white;
    cursor:pointer;
}
a.btn:hover{
    background-color:rgba(255,255,255,0.3);
}
.select-style {
    border: 1px solid #fff;
    width: 120px;
    overflow: hidden;
    background-color:black;
    display:inline-block;
    vertical-align: middle;
    padding-left:50px;
}

.select-style select {
    padding: 14px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color:white;
}
@-moz-document url-prefix() { 
  .select-style select {
     padding:13px 8px;
  }
}

.select-style select:focus {
    outline: none;
}
label,input[type="text"]{
  width:100%;
  display: block;
  color:#4C4C4C;
}
textarea{
  width: 100%;
}
.filler{
  padding:10px 0px;
}
.content-footer img{
    vertical-align: middle;
}
input,textarea{
  border:none;
    border-bottom:1px solid #D9D9D9;
    /*background-color:#D9D9D9;*/
    font-size:18px;
    color:#4C4C4C;
    line-height: 1.25em;
    margin-bottom:10px;
}
input[type="text"]{
  line-height: 1.5em;
}

#bgvid{
  position: absolute;
   height:100%;
   width: 100%;
   object-fit:cover;
}

.modal{
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color:rgba(255,255,255,0.3);
  justify-content: center;
  align-items: center;
  display:none;
  overflow-y: scroll;
}
.modal a.btn{
  border:1px solid #4C4C4C;
  color:#4C4C4C;
}
.modal a.btn:hover{
  background-color: rgba(76,76,76,0.3)
}
.modal a.close,.modal a.close:hover{
  position:absolute;
  top:0px;
  right:15px;
  cursor: pointer;
  font-size: 2em;
  color:grey;
}
.modal-body{
  flex: 0 0 auto;
  position: absolute;
  top:160px;
  left:25%;
  background-color:white;
  border:1px solid grey;
  width:50%;
  margin-bottom:70px;
}
.modal-body #form-filler{
  padding:20px;
}
.modal-body form{
  text-transform: lowercase;
  display:block;width:95%
}
.modal .select-style {
    border: 1px solid #4C4C4C;
    overflow: hidden;
    padding-left:70px;
    background-color: white;
    padding-right:15px;
}
.modal .select-style select {
    padding: 14px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color:#4C4C4C;
}
@-moz-document url-prefix() { 
  .modal .select-style select {
     padding:13px 8px;
  }
}


.patchwork-footer{
  position:absolute;
  width: 90%;padding:0px;font-size: 0px;
  height:auto;
margin:0px auto;
bottom:0px;
left:5%;
}
.patchwork-footer .patchwork-image{
  width:33%;
  max-height: 250px;
}
.patchwork-footer .content-footer{
  position:static;

}
@media only screen and (max-device-width: 700px){

.content-main .main-img
{
  width:500px;
}
}